# Python
backend/venv/
__pycache__/
*.pyc
venv

# Django
db.sqlite3
backend/staticfiles/
relatorio-analise-dados-perfil-estudo.md

# Flutter
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

RE2.md